
.container1{
  background-color: #E7F6F2;
  position: relative;
  padding-top: 100px;

}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 5.625rem;/* if you want parent not to effect child use rem(dynamic font size) 16px = 100% =1em ,if we want browser to be felexible for font size then we define it like ex- 90 px = 90/16*100 = 562.5em  size define in px are static size and size define in em and % are dynamic size and can be chnaged from browser  */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.profileImage{
  border-radius: 50%;
}
.pro{
  text-decoration: underline;
}
.bottomcloud{
  position: absolute;
  left: 400px;
  bottom: 300px;
}
.topcloud{
  position: absolute;
  right: 400px;
  top:50px;
}
a{
  color: #11999E;
}
